h1{
    padding-left: 80px;
    font-size: 30px;
    padding-bottom: 50px;

}
main{
    background-color: #e0e0e0;
}
#div-tarjetas{
    padding-left: 80px;
}
.tarjetas{
    width: 200px;
    height: 200px;
    padding-right: 30px;
    border-radius: 10px;
}
.tarjetas .card-body{
    height: 180px;
    
}
.cantidad{
    display: flex;
    padding-left: 50px;
    height: 80px;
    align-items: center;
}
#cantFormosa{
    padding-left: 10px;
}
.card-body a{
    margin-left: 30px;
}